{% if links %}

    <div class="current-langcode">
            <span class="flag"></span>
        {% for key, item in links %}
            <div{{ item.attributes.addClass(key|clean_class) }}>{{ key }}</div>
        {% endfor %}
        <div class="dropdown">
            <ul{{ attributes }}>
                {% for key, item in links %}
                <li{{ item.attributes.addClass(key|clean_class) }}>
                    {% if item.link %}
                    {{ item.link }}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endif %}
