
{# Content box template component. #}
{% if data is not null %}
    {% if data.nid is not null %}
        {% set url = path('entity.node.canonical', { 'node': data.nid }) %}
    {% endif %}
    <div class="last-project">
        <a href="{{ url }}">
            <div class="image-container" style="background: #323232 url('{{ data.image.url }}') no-repeat center; background-size: cover;"></div>
        </a>
        <div class="text-container">
            <div class="-content row">
                <div class="col-xs-8">
                    <p class="-left-text">
                        {% trans %}
                            From {{ data.date.from|date('d.M. Y') }} to {{ data.date.to|date('d.M. Y') }}
                        {% endtrans %}
                    </p>
                </div>
                <div class="col-xs-4">
                    <p class="text-right -right-text">{{ data.name }}</p>
                </div>
                <div class="col-xs-10 col-xs-push-1 -titles ">
                    <h2 class="-title text-center">{{ data.title }}</h2>
                    <h4 class="-subtitle text-center">{{ data.subtitle }}</h4>
                </div>
                <div class="-taxonomy">
                {% if data.taxonomy %}
                    {% set all = data.taxonomy|length %}
                    {% for key, value in data.taxonomy %}
                        <a class="-term" href="{{ path('entity.taxonomy_term.canonical', {'taxonomy_term': value.target_id}) }}">
                            {{ value.entity.label }}{% if (key + 1) < all %}, {% endif %}
                        </a>
                    {% endfor %}
                {% endif %}
                </div>
                <div class="col-xs-12 -read-more">
                {% if url %}
                    <a class="-link" href="{{ url }}"><p class="text-right -text">{{ 'Read More'|t }}</p></a>
                {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endif %}
