{% if data.logo.url is not empty %}
    <div class="-logo" {% if data.logo.url|length > 3 %} style="background: #fff url('{{ data.logo.url}}') no-repeat center; background-size: 100%;" {% endif %} ></div>
{% endif %}
{% if data.tags %}
    <span class="ongea-tags text-right">
        {% set all = data.tags|length %}
        {% if all %}
            <p class="text-bold">{{ 'Tags'|t }}</p>
            <p class="-tags">
                {% for key, value in data.tags %}
                    <a class="-link" href="{{ path('entity.taxonomy_term.canonical',{'taxonomy_term': value.target_id}) }}">
                        {{ value.entity.label }}{% if (key + 1) < all %},{% endif %}
                    </a>
                {% endfor %}
            </p>
        {% endif %}
    </span>
{% endif %}
{% if data.project %}
    <span class="ongea-project text-right">
        <p class="text-bold">{{ 'Project'|t }}</p>
        <p class="-tags">
            {% set all = data.project|length %}
            {% for key, value in data.project %}
                <a class="-link" href="{{ path('entity.node.canonical',{'node': value.target_id}) }}">
                    {{ value.entity.label }}{% if (key + 1) < all %},{% endif %}
                </a>
            {% endfor %}
        </p>
    </span>
{% endif %}
{% if data.author.id %}
    <span class="ongea-author text-right">
        <p class="text-bold pt">{{ 'Author'|t }}</p>
        <p class="-author">
            <a class="-link" href="{{ path('entity.user.canonical',{'user': data.author.id}) }}">
                {{ data.author.name }}
            </a>
        </p>
    </span>
{% endif %}
{% if data.left %}
    {% for key, value in data.left %}
        {% if value|length > 0 %}
            <span class="ongea-left text-right">
                <p class="text-bold pt">{{ key|t }}</p>
                <p class="-left">{{ value }}</p>
            </span>
        {% endif %}
    {% endfor %}
{% endif %}

{% if data.email %}
    <span class="ongea-email text-right">
        <p class="text-bold pt">{{ 'Email address'|t }}</p>
        <p class="-mail"><a href="mailto: {{ data.email }}">{{ data.email }}</a></p>
    </span>
{% endif %}

{% if data.website.url %} 
    <span class="ongea-email text-right">
        <p class="text-bold pt">{{ 'Website'|t }}</p>
        <p class="-mail">
            <a href="{{ data.website.url }}" target="_blank">
                {% if data.website.title %} {{ data.website.title }} {% else %} {{ data.website.url }} {% endif %}
            </a>
        </p>
    </span>
{% endif %}

{# Profile page #}
{% if data.about %}
    <span class="about-span">
        <h4 class="text-bold">{{ 'About'|t }}</h4>
        <span class="ongea-about text-right">

            {% if data.permissions.name %} {% else %}
                {% if data.about.age|length > 0 %}
                    <p class="text-bold">{{ 'Age'|t }}</p>
                    <p class="-about">{{ data.about.age }}</p>
                {% endif %}
            {% endif  %}

            {% if data.about.languages|length > 0 %}
                {% set all_languages = data.all_languages %}
                <p class="text-bold pt">{{ 'Languages'|t }}</p>
                {% set all = data.about.languages|length %}
                {% for key, value in data.about.languages %}
                    {% set lang_short = value.value %}
                    {% if all_languages[ lang_short ] %}
                        {{ all_languages[ lang_short ].name }}{% if (key + 1) < all %},{% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
            
            {% if data.about.skills|length > 0 %}
                <p class="text-bold pt">{{ 'Skills'|t }}</p>
                {% set all = data.about.skills|length %}
                {% for key, value in data.about.skills %}
                    <a class="-link" href="{{ path('entity.node.canonical',{'node': value.target_id}) }}">
                        {{ value.entity.label }}{% if (key + 1) < all %},{% endif %}
                    </a> 
                {% endfor %}
            {% endif %}
        </span>
    </span>

{% endif %}

{% if data.about %}
    {% if data.contact %}
        <span class="splitter" style="width: 100%; height: 1px; margin-bottom: 1px solid #4d4d4d;"></span>
    {% endif %}
{% endif %}

{% if data.contact %}
    <span class="contact-span">
        <h4 class="text-bold">{{ 'Contact'|t }}</h4>
        <span class="ongea-contact text-right">
            {% if data.permissions.mail %} {% else %}
                {% if data.contact.email|length > 0 %}
                    <p class="text-bold">{{ 'Email address'|t }}</p>
                    <p class="-mail"><a href="mailto: {{ data.contact.email }}">{{ data.contact.email }}</a></p>
                {% endif %}
            {% endif %}

            {% if data.permissions.phone %} {% else %}
                {% if data.contact.telephone|length > 0 %}
                    <p class="text-bold pt">{{ 'Telephone'|t }}</p>
                    <p class="-telephone">{{ data.contact.telephone }}</p>
                {% endif %}
            {% endif %}

            {% if data.contact.website|length > 0 %}
                <p class="text-bold pt">{{ 'Website / Social link'|t }}</p>
                <p class="-website">
                    <a href="{{ data.contact.website.url }}" target="_blank">
                        {% if data.contact.website.title %} {{ data.contact.website.title }} {% else %} {{ data.contact.website.url }} {% endif %}
                    </a>
                </p>
            {% endif %}
        </span>
    </span>
{% endif %}