
    {% if slider_data|length > 0 %}
        <div class="slider">
            <div class="row fix-height
                {% if slider_data|length < 4 %} lg-flexed-content {% endif %}
                {% if slider_data|length < 2 %} md-flexed-content {% endif %}
            ">
            {% set seturl = true %}
            {% for key, value in slider_data %}
            
                {% if (value.field_ongea_organisation_image is not empty) %}
                    {% set setimage = value.field_ongea_organisation_image %}
                {% elseif value.field_ongea_project_funder_logos is not empty %}
                    {% set setimage = value.field_ongea_project_funder_logos %}
                    {% set seturl = false %}
                {% elseif value.image is not empty %}
                    {% set setimage = value.image %}
                {% else %}
                    {% set setimage = '' %}
                {% endif %}

                {% if value.field_ongea_project_funder_logos_1 is not empty %}
                    {% set settitle = value.field_ongea_project_funder_logos_1 %}
                    {% set seturl = false %}
                {% elseif value.title %}
                    {% set settitle = value.title %}
                {% else %}
                    {% set settitle = '' %}
                {% endif %}

                {% set slider_content = '' %}
                {% set slider_content = {
                    'nid': value.nid,
                    'title': settitle,
                    'logo': value.logo,
                    'image': setimage,
                    'first_name': value.first_name,
                    'last_name': value.last_name,
                    'nickname': value.nickname,
                    'show_name': value.show_name,
                    'name': slider_name,
                    'url': seturl
                } %}
                <div class="col-lg-3 col-md-4 col-sm-6 slide {% if key < 1 %}slide-active{% endif %} slide-{{ key }}">
                    {% include '@ongea_theme/components/slider-box.html.twig' with slider_content %}
                </div>

            {% endfor %}
            </div>
            <div class="row">
                <div class="indicators">
                    <div class="col-xs-4"><span class="link prev hidden" data="0">{{ 'Previous'|t }}</span></div>
                    <div class="col-xs-4 text-center"><span class="current">1</span>/<span class="all" data="{{ slider_data|length }}">{{ slider_data|length }}</div>
                    <div class="col-xs-4 text-right"><span class="link next {% if slider_data|length < 2 %} hidden {% endif %}" {% if slider_data|length > 1 %} data="2" {% endif %}>{{ 'Next'|t }}</span></div>
                </div>
            </div>
        </div>
    {% endif %}