
{% set used = ['socialmedia', 'searchform', 'userlogin', 'languageswitcher'] %}

{{ elements.socialmedia }}

<div class="search-header">
    <div class="row">
        <div class="col-sm-4 col-xs-8">
            {{ elements.searchform }}
        </div>
        <div class="col-sm-4 col-xs-2 text-center">
            {{ elements.userlogin }}
        </div>
        <div class="col-sm-4 col-xs-2">
            {{ elements.languageswitcher }}
        </div>
    </div>
</div>

{% for key, value in elements %}
    {% if key not in used %}
        {% if '#' not in key %}
            {{ value }}
        {% endif %}
    {% endif %}
{% endfor %}