{# {{ dump(node|keys) }} #}

{# field_ongea_activity_events
field_ongea_activity_files
field_ongea_activity_image
field_ongea_activity_mobilities
field_ongea_activity_places
field_ongea_activity_travels #}
{% set whocansee = who_can_see %}
{% set notloggedin = not_logged_in %}
{% set isActive = is_active %}
{% if node.field_ongea_activity_image.entity.uri.value is not empty %}
    {% set setimage = { 'url': file_url(node.field_ongea_activity_image.entity.uri.value), 'alt': node.field_ongea_activity_image.alt } %}
{% else %}
    {% set setimage = '' %}
{% endif %}

{% if node.field_ongea_online_sign_up is not empty and who_can_see is not empty %}
    {% if isActive == 1 %}
        {% if who_can_see != 42 and notloggedin == false %}
            {% set setreg = node.field_ongea_online_sign_up %}
        {% elseif who_can_see == 42 and notloggedin == true %}
            {% set setreg = '' %}
        {% elseif who_can_see != 42 and notloggedin == true %}
            {% set setreg = node.field_ongea_online_sign_up %}
        {% elseif who_can_see == 42 and notloggedin == false %}
            {% set setreg = node.field_ongea_online_sign_up %}
        {% endif %}
    {% else %}
        {% set setreg = '' %}
    {% endif %}
{% else %}
    {% set setreg = '' %}
{% endif %}

{%
    set data = {
        'date': {
            'from': node.field_ongea_datefrom.value, 
            'to': node.field_ongea_dateto.value
        },
        'nid': node.id,
        'name': node.label,
        'title': node.label,
        'subtitle': node.field_ongea_subtitle.value,
        'description': node.field_ongea_description.value|replace({ "\n": "<br />" }),
        'image': setimage,
        'project': node.field_ongea_project,
        'breadcrumbs': breadcrumbs,
        'prev': prev,
        'next': next,
        'login': login_form,
        'register': register_form,
        'reg_enabled': setreg,
        'isActive': isActive,
        'profiles': activity_people,
        'organisations': activity_organisations,
    }
%}

{%
  set classes = [
    node.bundle|clean_class,
    node.isPromoted() ? 'is-promoted',
    node.isSticky() ? 'is-sticky',
    not node.isPublished() ? 'is-unpublished',
    view_mode ? view_mode|clean_class,
    'clearfix',
  ]
%}
<article{{ attributes.addClass(classes) }}>
    {{ title_prefix }}
    {{ title_suffix }}

    <section class="page-container -organization">
        <div class="row">
            
            {% include '@ongea_theme/components/full-content.html.twig' with data %}

            {# {{ activity_organisations }}
            {{ activity_people }} #}

        </div>
    </section>

</article>

{# {{ kint(node|keys) }} #}
