<div style="margin-left: 15px; max-width: 100%;">
    {# Page header #}
    <header class="page-header">
        <div class="row">
            <div class="secondary-menu">
                {{ page.secondary_menu }}

                {% if page.edit_profile %}
                    <div class="profile-wrapper">
                        {{ page.edit_profile| raw}}
                    </div>
                {% endif %}
            </div>
            <div class="header-content">
                {{ page.header }}
            </div>
        </div>
    </header>

    {# Main menu #}
    <div class="ongea-navigation">
        <div class="main-menu">
            <div class="burger">
                <i class="fas fa-bars -burger -icon" style="font-size: 30px"></i>
                <i class="fas fa-times -times -icon" style="font-size: 30px"></i>
            </div>
            <div class="-content">
                {{ page.primary_menu }}
            </div>
        </div>
    </div>

    {# Notifications #}
    <div class="container notifications">
        {# Breadcrumb #}
        <div class="breadcrumb">
            {% if page.breadcrumb %}
                {{ page.breadcrumb }}
            {% endif %}
        </div>

        {# Higlighted #}
        <div class="highlighted">
            {% if page.highlighted %}
                {{ page.highlighted }}
            {% endif %}
        </div>

        {# Help #}
        <div class="help">
            {% if page.help %}
                {{ page.help }}
            {% endif %}
        </div>
    </div>
</div>